.s1
{
    color: rgb(255, 65, 255);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    
}

.s2
{
    color: rgb(247, 43, 43);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    
}

.s3
{
    color: rgb(44, 44, 230);
    font-size: 30px;
    font-weight: 900;
    text-align:left;
    
}

.s4
{
    color: rgb(136, 17, 17);
    font-size: 30px;
    font-weight: 900;
    text-align:left;
    
}